*{
    font-family: "Roboto", "sans-serif";
    box-sizing: border-box;
}

body{
    
    background-image: url(https://play-lh.googleusercontent.com/0vpq7Mu6ZEloYsC6kJFJRRHidRQzZf9loRcOcBh03GT2DNQiX_Z-uS9tyYuaHZIDKCI);
}

.content{
    padding: 1rem;
    background-color: #e3ecf3;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.content h1{
    color: #e33b30;
    font-size: 40px;
    font-weight: bolder;
}
@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

